{% extends "layout.html" %}
{% block container %}
{% import "_macros.html" as macros %}

<form action="" method="POST" novalidate class="max-w-sm mx-auto">
   {{ form.csrf_token }}
   <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
   
   <div class="mb-5">
        <label class="block mb-2 text-sm font-medium text-heading"></label>
        {{ macros.campoNuevo(form.id, class="bg-neutral-secondary-medium
        border border-default-medium text-heading text-sm rounded-base
        focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs
        placeholder:text-body", hidden=True) }}
   </div>
   
   <div class="mb-5">
        <label class="block mb-2 text-sm font-medium text-heading"></label>
        {{ macros.campoNuevo(form.nombre, class="bg-neutral-secondary-medium
        border border-default-medium text-heading text-sm rounded-base
        focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs
        placeholder:text-body") }}
   </div>
   
   <div class="mb-5">
        <label class="block mb-2 text-sm font-medium text-heading"></label>
        {{ macros.campoNuevo(form.descripcion, class="bg-neutral-secondary-medium
        border border-default-medium text-heading text-sm rounded-base
        focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs
        placeholder:text-body") }}
   </div>
   
   <div class="mb-5">
        <label class="block mb-2 text-sm font-medium text-heading"></label>
        {{ macros.campoNuevo(form.maestro_id, class="bg-neutral-secondary-medium
        border border-default-medium text-heading text-sm rounded-base
        focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs
        placeholder:text-body") }}
   </div>
   
   <div class="flex gap-4 mt-6">
       <button type="submit"
           class="text-white bg-brand box-border border border-transparent 
           hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium 
           shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2.5 
           focus:outline-none">
           Actualizar
       </button>
       <a href="{{ url_for('cursos.listadoCursos') }}" 
          class="inline-block text-white bg-danger box-border border border-transparent 
               hover:bg-danger-strong focus:ring-4 focus:ring-danger-medium 
               shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2.5 
               focus:outline-none transition">
           Cancelar
       </a>
   </div>
</form>

{% endblock %}