{% extends "layout.html" %}
{% block container %}


<div class="relative overflow-x-auto">
<a href="Alumnos" class="font-medium text-fg-brand hover:underline">Alumnos</a>

    <table class="w-full text-sm text-left rtl:text-right text-body">
        
        <thead class="text-sm text-heading">
            <tr>
                <th scope="col" class="px-6 py-3 font-semibold">
                    NOMBRE
                </th>
                <th scope="col" class="px-6 py-3 font-semibold">
                    APATERNO
                </th>
                <th scope="col" class="px-6 py-3 font-semibold">
                    CORREO
                </th>
                <th scope="col" class="px-6 py-3 font-semibold">
                    EDITAR
                </th>
                <th scope="col" class="px-6 py-3 font-semibold">
                    DETALLES
                </th>
               <th scope="col" class="px-6 py-3 font-semibold">
                    ELIMINAR
                </th>
            </tr>
        </thead>

        <tbody>
            <tr class="bg-neutral-primary">
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    Mario Juan
                </th>
                <td class="px-6 py-4">
                    Lopez
                </td>
                <td class="px-6 py-4">
                    Lopez@gmail.com
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-fg-brand hover:underline">EDITAR</a>
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-fg-brand hover:underline">DETALLES</a>
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-fg-brand hover:underline">ELIMINAR</a>
                </td>
                
            </tr>

            <tr class="bg-neutral-primary">
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    Juan
                </th>
                <td class="px-6 py-4">
                    Ramirez
                </td>
                <td class="px-6 py-4">
                    ramirez@gmail.com
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-fg-brand hover:underline">EDITAR</a>
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-fg-brand hover:underline">DETALLES</a>
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-fg-brand hover:underline">ELIMINAR</a>
                </td>
            </tr>

            <tr class="bg-neutral-primary">
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    Guadalupe Veronica
                </th>
                <td class="px-6 py-4">
                    Macias
                </td>
                <td class="px-6 py-4">
                    iperez@utleon.edu.mx
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-fg-brand hover:underline">EDITAR</a>
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-fg-brand hover:underline">DETALLES</a>
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-fg-brand hover:underline">ELIMINAR</a>
                </td>
            </tr>
             <tr class="bg-neutral-primary">
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    Dario
                </th>
                <td class="px-6 py-4">
                    Muñoz
                </td>
                <td class="px-6 py-4">
                    mgomezz@alumnos.unimundial.edu.mx
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-fg-brand hover:underline">EDITAR</a>
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-fg-brand hover:underline">DETALLES</a>
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-fg-brand hover:underline">ELIMINAR</a>
                </td>
            </tr>
        </tbody>

    </table>
</div>




{%endblock%}